@page "/"
@inherits ProductsBase
@using Shopping.Web.Components


@if (ProductDtoList.Count<1)
{

    <div class="d-flex justify-content-center">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>

}
else
{
    <h3 class="mb-5">Products</h3>
    
    @*<div class="row">
        <div class="col-md-5">
            <Search OnSearchChanged="SearchChanged" />
        </div>
        </div>*@

        <div class="row">
            <div class="col">
                <Pagination MetaData="MetaData" Spread="2" SelectedPage="SelectedPage" />
            </div>
        </div>


        var productCount = ProductDtoList.Count();

        @if (productCount > 0)
        {

            @foreach (var prodGroup in GetGroupedProductsByCategory())
            {
                <h4>
                    @GetCategoryName(prodGroup)
                </h4>
                <div class="row mt-3">
                    <DisplayProducts Products="@prodGroup.Take(10)"></DisplayProducts>
                </div>
                <hr class="mb-3" />
            }

        }

}

