@inherits ImageUploadBase

<h3>Image Upload</h3>

<input type="file" @ref="input" @onchange="HandleSelected" accept=".jpg, .jpeg, png" />
@if (ImgUrl != null)
{
    <div>
        <img src="@ImgUrl" style="width:300px" />
    </div>
}






